---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="flex flex-col items-center h-screen">
      <Card
        title="今日はいい天気です。"
        image_url="https://mylib.meijo-u.ac.jp/webopac/imgview.do?isbn=1d77c400254a489b9018d7fb79a67109&txtl=jpn"
        returnDate="20"
        deadline="2021-10-01"
      />
    </section>
  </main>
</Layout>
